<#--<!doctype html>-->
<html lang="en" dir/="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="${rc.getContextPath()}/assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="${rc.getContextPath()}/assets/favicon.ico"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Server Monotoring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link href="${rc.getContextPath()}/assets/plugins/chosen/chosen.min.css" rel="stylesheet"/>

    <script src="${rc.getContextPath()}/assets/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '${(rc.getContextPath()?? && rc.getContextPath() != "")?then(rc.getContextPath(), '/')}'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="${rc.getContextPath()}/assets/css/dashboard.css" rel="stylesheet"/>
    <script src="${rc.getContextPath()}/assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="${rc.getContextPath()}/assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>
    <script src="${rc.getContextPath()}/assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="${rc.getContextPath()}/assets/plugins/maps-google/plugin.css" rel="stylesheet"/>
    <script src="${rc.getContextPath()}/assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="${rc.getContextPath()}/assets/plugins/input-mask/plugin.js"></script>

    <style>
        @media (max-width: 767px) {
            .table-responsive .dropdown-menu {
                position: static !important;
            }
        }

        @media (min-width: 768px) {
            .table-responsive {
                overflow: visible;
            }
        }

        .card-scroll {
            overflow-y: scroll !important;
        }
    </style>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="${rc.getContextPath()}/">
                        <img src="${rc.getContextPath()}/assets/images/brand/tabler.svg" class="header-brand-img" alt="tabler logo">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown d-none d-md-flex">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <i class="fe fe-bell"></i>
                                <span class="nav-unread"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a href="#" class="dropdown-item d-flex">
                                    <div>
                                        <strong>Server Atena prod</strong> Erreur Null Pointer Exception
                                        <div class="small text-muted">10 minutes ago</div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(${rc.getContextPath()}/assets/images/root.svg)"></span>
                                <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">
                      ${(globaldata.currentUser??)?then(globaldata.currentUser.getFullName(), '')}
                      </span>
                      <small class="text-muted d-block mt-1">root</small>
                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="${rc.getContextPath()}/profile">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-settings"></i> Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                                </a>
                                <a class="dropdown-item" href="${rc.getContextPath()}/logout">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>


        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <#if globaldata.currentPage??
                                && (globaldata.currentPage == "home" || globaldata.currentPage == "/"
                                || globaldata.currentPage == ""
                                )
                                >
                            <a href="${rc.getContextPath()}/" class="nav-link active">
                                <i class="fe fe-home"></i> Home</a>
                                <#else >
                                    <a href="${rc.getContextPath()}/" class="nav-link">
                                        <i class="fe fe-home"></i> Home</a>
                                </#if>
                            </li>
                            <li class="nav-item">
                                <a href="${rc.getContextPath()}/users" class="nav-link"><i class="fe fe-users"></i> Users</a>
                            </li>

                            <li class="nav-item" >
                                <a href="${rc.getContextPath()}/servers" class="nav-link">
                                <i class="fe fe-server"></i> Servers</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>