<#include "components/header.ftl">
<div class="page">
    <div class="flex-fill">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
    <div class="row">
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Dashboard
                    </h1>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right text-green">
                                    6%
                                    <i class="fe fe-chevron-up"></i>
                                </div>
                                <div class="h1 m-0">43</div>
                                <div class="text-muted mb-4">New Tickets</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right text-red">
                                    -3%
                                    <i class="fe fe-chevron-down"></i>
                                </div>
                                <div class="h1 m-0">17</div>
                                <div class="text-muted mb-4">Closed Today</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right text-green">
                                    9%
                                    <i class="fe fe-chevron-up"></i>
                                </div>
                                <div class="h1 m-0">7</div>
                                <div class="text-muted mb-4">New Replies</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right text-green">
                                    3%
                                    <i class="fe fe-chevron-up"></i>
                                </div>
                                <div class="h1 m-0">27.3K</div>
                                <div class="text-muted mb-4">Followers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right text-red">
                                    -2%
                                    <i class="fe fe-chevron-down"></i>
                                </div>
                                <div class="h1 m-0">$95</div>
                                <div class="text-muted mb-4">Daily Earnings</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right text-red">
                                    -1%
                                    <i class="fe fe-chevron-down"></i>
                                </div>
                                <div class="h1 m-0">621</div>
                                <div class="text-muted mb-4">Products</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Development Activity</h3>
                            </div>
                            <div id="chart-development-activity" style="height: 10rem"></div>
                            <div class="table-responsive">
                                <table class="table card-table table-striped table-vcenter">
                                    <thead>
                                    <tr>
                                        <th colspan="2">User</th>
                                        <th>Commit</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="w-1"><span class="avatar" style="background-image: url(${rc.getContextPath()}/pictures/faces/pic1.jpeg)"></span></td>
                                        <td>Ronald Bradley</td>
                                        <td>Initial commit</td>
                                        <td class="text-nowrap">May 6, 2018</td>
                                        <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="avatar">BM</span></td>
                                        <td>Russell Gibson</td>
                                        <td>Main structure</td>
                                        <td class="text-nowrap">April 22, 2018</td>
                                        <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="avatar" style="background-image: url(./demo/faces/female/1.jpg)"></span></td>
                                        <td>Beverly Armstrong</td>
                                        <td>Left sidebar adjustments</td>
                                        <td class="text-nowrap">April 15, 2018</td>
                                        <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="avatar" style="background-image: url(./demo/faces/male/4.jpg)"></span></td>
                                        <td>Bobby Knight</td>
                                        <td>Topbar dropdown style</td>
                                        <td class="text-nowrap">April 8, 2018</td>
                                        <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="avatar" style="background-image: url(./demo/faces/female/11.jpg)"></span></td>
                                        <td>Sharon Wells</td>
                                        <td>Fixes #625</td>
                                        <td class="text-nowrap">April 9, 2018</td>
                                        <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function(c3, $) {
                                $(document).ready(function(){
                                    var chart = c3.generate({
                                        bindto: '#chart-development-activity', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                                            ],
                                            type: 'area', // default type of chart
                                            groups: [
                                                [ 'data1', 'data2', 'data3']
                                            ],
                                            colors: {
                                                'data1': tabler.colors["blue"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'Purchases'
                                            }
                                        },
                                        axis: {
                                            y: {
                                                padding: {
                                                    bottom: 0,
                                                },
                                                show: false,
                                                tick: {
                                                    outer: false
                                                }
                                            },
                                            x: {
                                                padding: {
                                                    left: 0,
                                                    right: 0
                                                },
                                                show: false
                                            }
                                        },
                                        legend: {
                                            position: 'inset',
                                            padding: 0,
                                            inset: {
                                                anchor: 'top-left',
                                                x: 20,
                                                y: 8,
                                                step: 10
                                            }
                                        },
                                        tooltip: {
                                            format: {
                                                title: function (x) {
                                                    return '';
                                                }
                                            }
                                        },
                                        padding: {
                                            bottom: 0,
                                            left: -1,
                                            right: -1
                                        },
                                        point: {
                                            show: false
                                        }
                                    });
                                });
                            });
                        </script>
            <script>
                require(['c3', 'jquery'], function(c3, $) {
                    $(document).ready(function(){
                        var chart = c3.generate({
                            bindto: '#chart-donut', // id of chart wrapper
                            data: {
                                columns: [
                                    // each columns data
                                    ['data1', 63],
                                    ['data2', 37]
                                ],
                                type: 'donut', // default type of chart
                                colors: {
                                    'data1': tabler.colors["green"],
                                    'data2': tabler.colors["green-light"]
                                },
                                names: {
                                    // name of each serie
                                    'data1': 'Maximum',
                                    'data2': 'Minimum'
                                }
                            },
                            axis: {
                            },
                            legend: {
                                show: false, //hide legend
                            },
                            padding: {
                                bottom: 0,
                                top: 0
                            },
                        });
                    });
                });
            </script>

        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Chart title</h3>
                </div>
                <div class="card-body">
                    <div id="chart-pie" style="height: 12rem;"></div>
                </div>
            </div>
            <script>
                require(['c3', 'jquery'], function(c3, $) {
                    $(document).ready(function(){
                        var chart = c3.generate({
                            bindto: '#chart-pie', // id of chart wrapper
                            data: {
                                columns: [
                                    // each columns data
                                    ['data1', 63],
                                    ['data2', 44],
                                    ['data3', 12],
                                    ['data4', 14]
                                ],
                                type: 'pie', // default type of chart
                                colors: {
                                    'data1': tabler.colors["blue-darker"],
                                    'data2': tabler.colors["blue"],
                                    'data3': tabler.colors["blue-light"],
                                    'data4': tabler.colors["blue-lighter"]
                                },
                                names: {
                                    // name of each serie
                                    'data1': 'A',
                                    'data2': 'B',
                                    'data3': 'C',
                                    'data4': 'D'
                                }
                            },
                            axis: {
                            },
                            legend: {
                                show: false, //hide legend
                            },
                            padding: {
                                bottom: 0,
                                top: 0
                            },
                        });
                    });
                });
            </script>
        </div>
        <div class="col-sm-12">
            <a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="card" target="_blank">
                <img src="/demo/card-demo.jpg" alt="" class="card-img">
            </a>
        </div>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<#include "components/footer.ftl">
